{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header">
      {#
      <span id="category" class="visible-xs">{{ text_category }}</span>
      #}
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse collapse in">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="{{ buy_href }}">BUY</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">               
              <ul class="list-unstyled">
                {% for category in categories %}
                      <li><a href="{{ category.href }}">{{ category.name }}</a></li>                  
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="{{ sell_href }}" >SELL</a>
        </li>
        <li>
          <a href="{{ repair_href }}" >REPAIR</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endif %} 