{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header">
      {#
      <span id="category" class="visible-xs">{{ text_category }}</span>
      #}
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse collapse in">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="{{ buy_href }}">BUY</a>
          <div class="dropdown-menu" style="width:1070px;">
              <div class="dropdown-inner full-menu" style=""> 
              <div class="row">
                {% for category in categories %}
                  <div class="col-lg-3 col-md-3 col-sm-12">                  
                    <a href="{{ category.href }}"><h2>{{ category.name }}</h2></a>                 
                    <ul class="list-unstyled">
                      <li><a href="#">Item abc</a></li>
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>                    
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                    </ul>                
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="{{ sell_href }}" >SELL</a>
            <div class="dropdown-menu" style="width:1070px;left: -370px">
              <div class="dropdown-inner full-menu" style=""> 

              <div class="row">
                {% for category in categories %}
                  <div class="col-lg-3 col-md-3 col-sm-12">                  
                    <a href="{{ category.href }}"><h2>{{ category.name }}</h2></a>                 
                    <ul class="list-unstyled">
                      <li><a href="#">Item abc</a></li>
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>                    
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                    </ul>                
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>

        <li class="dropdown">
          <a href="{{ repair_href }}" >REPAIR</a>
            <div class="dropdown-menu" style="width:1070px;left: -720px">
              <div class="dropdown-inner full-menu" style=""> 

              <div class="row">
                {% for category in categories %}
                  <div class="col-lg-3 col-md-3 col-sm-12">                  
                    <a href="{{ category.href }}"><h2>{{ category.name }}</h2></a>                 
                    <ul class="list-unstyled">
                      <li><a href="#">Item abc</a></li>
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>                    
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                      <li><a href="#">Item abc</a></li>  
                    </ul>                
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endif %} 